.card-container {
    display: inline-block;
    width: 260px;
    height: 200px;
    flex-direction: column;
    background-color: black;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 70px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    position: relative;
    right: 5%;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  .image {
    max-width: 260px;
    max-height: 200px;
    overflow: hidden;
    position: relative;
    /* left: 30%; */
  }

  h2 {
    color: blanchedalmond;
    text-align: center;
    position: relative;
    bottom: 0%;
  }
  p {
    color: blue;
    position: fixed;
    font-size: 2em;
  }
